@model RoomVM
@{
    ViewBag.Title = "OperateRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/datatables")


<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="tab1">
            <thead>
                <tr>
                    <th>Oda ID</th>
                    <th>Oda Türü</th>
                    <th class="hidden-phone">Oda Acıklaması</th>
                    <th class="hidden-phone">Oda Sayısı</th>
                    <th class="hidden-phone">Mevcut Hazır Oda Sayısı</th>
                    <th class="hidden-phone">Oda Resim</th>
                    <th class="hidden-phone">Balkon</th>
                    <th class="hidden-phone">Minibar</th>
                    <th class="hidden-phone">Oda Ücret</th>
                    @*<th class="hidden-phone">Sil</th>*@
                    <th class="hidden-phone">Güncelle</th>
                    <th colspan="2">Bakım İşlemleri</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Room item in Model.Rooms)
                {
                    <tr class="gradeU">
                        <td>@item.ID</td>
                        <td>@item.RoomType</td>
                        <td class="hidden-phone">@item.RoomDescription</td>
                        <td class="center hidden-phone">@item.RoomCount</td>
                        <td class="center hidden-phone">@item.RoomAvailable</td>


                        @*<td class="center hidden-phone">@item.ImagePath</td>*@
                        <td> <img width="30" height="30" title="@item.RoomType" src="@item.ImagePath" />   </td>

                        @if (@item.availableBalcony == true)
                        {
                            <td class="center hidden-phone">Mevcut</td>
                        }
                        else
                        {
                            <td class="center hidden-phone">Mevcut değildir</td>
                        }

                        @if (@item.availableMinibar == true)
                        {
                            <td class="center hidden-phone">Mevcut</td>
                        }
                        else
                        {
                            <td class="center hidden-phone">Mevcut değildir</td>
                        }

                        <td class="center hidden-phone">@item.Price</td>


                        @*<td class="center hidden-phone">@Html.ActionLink("Sil", "DeleteCategory", new { id = item.ID }, new { @class = "btn btn-danger" })</td>*@
                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateRoom", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                        @*<td>
                                @Ajax.ActionLink("Bakıma Al", "MaintenanceRoomAjax", new { id = item.ID },
                                new AjaxOptions
                                {
                                    HttpMethod = "Get",
                                    UpdateTargetId = "MaintenanceRoom",
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "MaintenanceRoomLoaded"
                                },
                                new { @class = "btn btn-danger" })
                            </td>
                            <td>
                                @Ajax.ActionLink("Bakımdan Çıkar", "UnMaintenanceRoomAjax", new { id = item.ID },
                                new AjaxOptions
                                {
                                    HttpMethod = "Get",
                                    UpdateTargetId = "MaintenanceRoom",
                                    InsertionMode = InsertionMode.Replace,
                                    OnSuccess = "MaintenanceRoomLoaded"
                                },
                                new { @class = "btn btn-success" })
                            </td>*@
                        @**@
                        <td>
                            <button id="unnecessary" class="btn btn-danger" data-id=@item.ID value="formaintenance">Bakıma Al</button>
                        </td>
                        <td>
                            <button id="unnecessaryanother" class="btn btn-success" data-id=@item.ID value="forunmaintenance">Bakımadan Çıkar</button>
                        </td>
                    </tr>
                }



            </tbody>
        </table>

    </div>
</div>


<div class="modal fade" id="MaintenanceRoomModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Oda Bakım Ekranı</h4>
            </div>
            <div class="modal-body" id="MaintenanceRoom">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<script>

   

    function MaintenanceRoomLoaded() {
        $("#MaintenanceRoomModal").modal('show'); // #MaintenanceRoomModal içinde MaintenanceRoom var onun içinde de data var
    }

            $(function () {

                $("#tab1").on("click", "[value=formaintenance]", function () {

                    $.ajax({

                        //url,type,success
                        url: 'MaintenanceRoomAjax',
                        data: { id: $(this).attr("data-id") }, // this, value=formaintenance'ı temsil eder..
                        type: "Get",
                        success: function (data)  // data, MaintenanceRoomAjax'ın return ettiği _MaintenanceRoomPartial verisidir
                        {
                            $('#MaintenanceRoom').html(data);
                            MaintenanceRoomLoaded();      

                        }


                    })
                })

                $("#tab1").on("click", "[value=forunmaintenance]", function () {

                    $.ajax({

                        //url,type,success
                        url: 'UnMaintenanceRoomAjax',
                        data: { id: $(this).attr("data-id") }, 
                        type: "Get",
                        success: function (data)   
                        {
                            $('#MaintenanceRoom').html(data); // data, UnMaintenanceRoomAjax'ın return ettiği _UnMaintenanceRoomPartial verisidir
                            MaintenanceRoomLoaded();      

                        }


                    })
                })

            })


</script>




