@model BookingVM

@{
    ViewBag.Title = "RezervasyonOnayla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezervasyon Onayla</h2>

<div class="jumbotron">
Ödemeniz gereken tutar => @Convert.ToInt32(TempData["tutar"]) ₺ ...
</div>


<div>
    @using (Html.BeginForm("RezervasyonBankaOnay", "Booking", FormMethod.Post, new { @class = "form-horizontal tasi-form" }))
    {

        <div class="form-group">
            <label class="col-sm-2 control-label">Kart Numarası</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardNumber, new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label">Kart Güvenlik Numarası</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.SecurityNumber, new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label">Kullanım tarihi (Yıl)</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardExpiryYear, new { @class = "form-control" })
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label">Kullanım tarihi (Ay)</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardExpiryMonth, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Kart Üzerindeki İsim</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.PaymentDTO.CardUserName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(x => x.Booking.Email, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Onaylama</label>
            <div class="col-sm-10">
               <button class="btn btn-primary">Onay</button>
            </div>
        </div>

    }
</div>

